@font-face {
    font-family: 'TTTravelsNext';
    src: url('/fonts/TTTravelsNext.ttf');
    font-family: 'TTTravelsNextBlackItalic';
    src: url('/fonts/TTTravelsNextBlackItalic.ttf');
}
@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist.ttf');
}
.full-menu{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 100vw;
    left: 100svw;
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    padding: 10rem;
    flex-direction: column;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    justify-content: center;
    gap: 2rem;
    align-items: end;
    transition: all 0.5s ease; }
    .burger-line, .burger-line::after, .burger-line::before{
        transition: all 0.3s ease;
    }
    #menu:checked ~ .full-menu{
        opacity: 1;
        left: 0;
    }
    #menu:checked ~ .menu-burger .burger-line, #menu:checked ~ .menu-burger .burger-line::before, #menu:checked ~ .menu-burger .burger-line::after{
        background-color: white;
    }
    #menu:checked ~ .menu-burger .burger-line{
        transform: rotate(45deg);
    }
    #menu:checked ~ .menu-burger .burger-line::before{
        display: none;
    }
    #menu:checked ~ .menu-burger .burger-line::after{
        transform: rotate(90deg) translate(-10px, 0px);
        width: 40px;
    }
    a{
        all: unset;
        cursor: pointer;
        padding: 2px;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s ease;
    }
    a:hover{
        border-bottom: 1px solid var(--mainDark);}
    

    
footer{
    padding: 50px;
    min-height: 300px;
    background-color: var(--mainBlue);
}
footer a{
    display: block;
}
footer a, footer p{
    margin: 1rem 0;
}
.big-link{
    font-size: 2rem;
    font-weight: 500;
}
.some{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.some img{
    width: 50px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 600px) {
    .hero h1{
        font-size: 4pc;
        line-height: 4pc;
    }    
    .teamcard input:checked ~ .team-details {
        margin-top: 0px;
    }
        .team-content{
        gap: 1rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .team-content img{
        margin: 1rem;
    }
    .contact{
        flex-direction: column;
    }
    .full-menu{
        opacity: 0;
        position: fixed;
        top: 0;
        left: 100vw;
        left: 100svw;
        width: 100vw;
        width: 100svw;
        height: 100vh;
        height: 100svh;
        background: rgba(0,0,0,0.5);
        z-index: 2;
        display: flex;
        padding: 5rem;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        font-weight: 500;
        justify-content: center;
        gap: 1rem;
        align-items: end;
        transition: all 0.5s ease;
    
    }
}
