@font-face {
    font-family: 'TTTravelsNext';
    src: url('/fonts/TTTravelsNext.ttf');
    font-family: 'TTTravelsNextBlackItalic';
    src: url('/fonts/TTTravelsNextBlackItalic.ttf');
}
@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist.ttf');
}


body.angebotbg {
  background-image: url(../images/DSC_0670.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0%;
  margin: 0%;
  background-color: white;
}


h1 {
  padding-top: 29%;
  padding-bottom: 0%;
  font-size: 15pc;
  color: black;
  font-family: 'tttravelsnextblackitalic';

}



.angebotheading {
  padding-top: 0%;
  padding-bottom: 0%;  
  font-size: 3pc;
  color: black;
  font-family: 'urbanist';
  margin-left: 2%;
  font-weight: 300;
  
}
.angebottext {
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 1pc;
  color: black;
  font-family: 'urbanist';
  margin-left: 2%;
  margin-right: 2%;
  font-weight: 400;
  line-height: 2pc;
  
}

.flex-grid {
  display: flex;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  justify-content: space-between;
  background-image: url('wusch1.jpg'); /* Set the background image */
  background-repeat: no-repeat;
  background-size: cover;
}
.col {
  flex-basis: 50%;
  padding: 0%;
  margin: 0%;
}

.flex-grid-2col {
  display: flex;
  padding-top: 0%;
  padding-bottom: 2%;
  padding-left: 0%; 
  padding-right: 0%;
  justify-content: space-between;
}

.bild {
  width: 95%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left:9%;
  padding-right:0%;
  
}


.angebot-page .col img {
  max-width: 100%;
  padding: 0;
  filter: grayscale(100%);
    transition: filter 0.3s;
}

.angebot-page .col img:hover {
  filter: saturate(100%); }

  #uebersch {
    background-color: white;
    padding-top: 0%;
    padding-bottom: 4%;
    margin-left: 0;
  }
  

  h3{
    color: rgb(255, 255, 255)55, 255, 255);
    line-height: 6pc;
    font-size: 7pc;
    font-weight: 400;
    font-family:'urbanist';
  }
  .gradient {
    background-repeat: no-repeat;
    font-size: 7pc;
    background-size: cover;
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: 'urbanist';
  }
  
  #uebersch p{
    padding-top: 0%;
    font-size: 2pc;
    padding-bottom: 0%;
    font-weight: 400;
  }

  #ueberschrift {
    background-image: url(../images/eventbg.png);
    background-repeat: no-repeat;
    font-size: 7pc;
    background-size: cover;
    padding-top: 0%;
    padding-bottom: ;
    font-family: 'urbanist';
    color: white;
  }
  #ueberschrift p{
    padding-top: 0%;
    font-size: 2pc;
    padding-bottom: 0%;
    color: white;
    font-weight: 400;
  }
  

  header a {
    font-family: 'Urbanist';
  
  }


    a{
        all: unset;
        cursor: pointer;
        padding: 2px;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s ease;
    }
    a:hover{
        border-bottom: 1px solid var(--mainDark);}
    

    
        footer{
            padding: 60px;
            min-height: 200px;
            background-color: #4F4FFF;
          }
          footer a{
            display: block;
          }
          footer a, footer p{
            margin: 1rem 0;
            color: black;
          }
          .big-link{
            font-size: 2rem;
            font-weight: 500;
          }
          .some{
            display: flex;
            justify-content: center;
            gap: 25px;
          }
          .some img{
            width: 50px;
          }
          .contact{
            display: flex;
            justify-content: space-around;
          }
          
          #footerref{
            max-width: 100%;
          }


@media screen and (max-width: 600px) {
    .hero h1{
        font-size: 4pc;
        line-height: 4pc;
    }    
    .teamcard input:checked ~ .team-details {
        margin-top: 0px;
    }
        .team-content{
        gap: 1rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .team-content img{
        margin: 1rem;
    }
    .flex-grid-2col {
      flex-direction: column ;
    }

    .bild {
      width: 100%; 
      margin-top: 1rem; 
    }

    .contact{
        flex-direction: column;
    }
    .full-menu{
        opacity: 0;
        position: fixed;
        top: 0;
        left: 100vw;
        left: 100svw;
        width: 100vw;
        width: 100svw;
        height: 100vh;
        height: 100svh;
        background: rgba(0,0,0,0.5);
        z-index: 2;
        display: flex;
        padding: 5rem;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        font-weight: 500;
        justify-content: center;
        gap: 1rem;
        align-items: end;
        transition: all 0.5s ease;
    
    }
}
