

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
 
{

  .flex-grid-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 80px;
    align-items: center;
    backdrop-filter: blur(15px);
  }

  .flex-grid-header .col {
    max-width: 100%;
    width: 100%;
  }

    #burgernav { 
        width: 0%; 
        display: none;
      }

      #logo {
        text-align: center;
      }

      #home { 
        display: none; 
      }

      nav li a {
        font-size: 1pc;
      }

      #textA h1 {
        padding-top: 55%;
      }

      #claim .col {
        padding-top: 30%;
      }


      #claim h1 {
        font-size: 3pc;
      }

      #claim h2 {
        font-size: 1.5pc;
        padding-top: 10%;
      }

    .flex-grid {
        display: flex;
        flex-direction: column;
      }


      #landingpage {
        padding: 0%;
        margin: 0%;
      }

     
      h1 {
        text-align: left;
        font-size: 2pc;
      }
      
      h2 {
        text-align: left;
        font-size: 1pc;
      }

      #Events {
        padding-top: 29%;
      }

      #column2 .flex-grid-2col {
        flex-direction: column-reverse;
      }

      .flex-grid-2col .col h1 {
        font-size: 2pc;
      }
      
      .flex-grid-2col .col h2 {
        font-size: 1pc;
      }
      .flex-grid-2col {
        flex-direction: column;
      }

      .flex-grid-2col .col {
        width: 100%;
      }

      .flex-grid-2col .col img {
        max-width: 99%;
      }

      .flex-grid-2col#Events {
        flex-direction: column;
      }

      .big-link {
        font-size: 1pc;
      }
}