

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
 
{

    #burgernav { 
        display: none; 
      }

      #logo {
        text-align: center;
      }

      #home { 
        display: none; 
      }

      nav li a {
        font-size: 1pc;
      }

      #textA h1 {
        padding-top: 55%;
      }

      #claim .col {
        padding-top: 40%;
      }

      #claim h1 {
        font-size: 2pc;
      }

      #claim p {
        font-size: 1.5pc;
        padding-top: 10%;
      }

    .flex-grid {
        display: flex;
        flex-direction: column;
      }

      .flex-grid-header .col {
        max-width: 100%;
        width: 100%;
      }


      #landingpage {
        padding: 0%;
        margin: 0%;
      }

      #landingpage h1{
        padding-left: 5%;
      }
     
      h1 {
        text-align: left;
        font-size: 2pc;
      }
      
      h2 {
        text-align: left;
        font-size: 1pc;
      }

      #Events {
        padding-top: 29%;
      }

      #column2 .flex-grid-2col {
        flex-direction: column-reverse;
      }

      .flex-grid-2col .col h1 {
        font-size: 2pc;
      }
      
      .flex-grid-2col .col h2 {
        font-size: 1pc;
      }
      .flex-grid-2col {
        flex-direction: column;
      }

      .flex-grid-2col .col {
        width: 100%;
      }

      .flex-grid-2col .col img {
        max-width: 99%;
      }

      .flex-grid-2col#Events {
        flex-direction: column;
        order: 1 2 4 3;
      }

      .big-link {
        font-size: 1pc;
      }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 