body {
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0%;
  margin: 0%;
}

main {
  padding: 0%;
  margin: 0%;
}

#bg {
  opacity: 0.6;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-header {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  align-content: left;
  justify-content: space-between;
}

.flex-grid-header .col {
  width: 32%;
}

.flex-grid-2col {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
  align-content: left;
  justify-content: space-between;
}

.flex-grid-2col .col {
  background-color: rgba(245, 245, 245, 0.3);
  width: 50%;
  column-gap: 0cap;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.flex-grid-2col .col img {
  max-width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0px;
  padding-right: 0px;
}

.flex-grid-2col .col h1 {
  padding-left: 2%;
  font-size: 3pc;
  color: white;
}

.flex-grid-2col .col h2 {
  padding-left: 2%;
  font-size: 1.5pc;
  color: white;
}

#home {
  text-align: left;
  align-content: center;
  justify-content: center;
}

#logo {
  text-align: center;
  align-content: center;
  justify-content: center;
}

#navsearch {
  text-align: right;
  align-content: right;
  justify-content: right;
}

#landingpage {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

#imgright {
  text-align: right;
  align-content: right;
  justify-content: right;
}

nav {
  padding: auto;
  margin: auto;
  background-color: coral;
}

ul{   
  border-radius: 10px;
  padding: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

li a {
  color: black;
  font-size: 24px;
}


h1 {
  font-size: 5pc;
  color: white;
}

h2 {
  font-size: 1.5pc;
  color: white;
}

h1, h2, h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
