body {
  margin: 10px;
  padding: 0;
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bg {
  opacity: 0.6;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: left;
  justify-content: space-between;
}

.flex-grid-header .col {
  width: 32%;
}

.flex-grid-2col {
  display: flex;
  flex-direction: row;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  align-content: left;
  justify-content: space-between;
}

.flex-grid-2col .col {
  background-color: rgba(245, 245, 245, 0.3);
  width: 49%;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.flex-grid-2col .col img {
  width: 725px;
  height: 436px;
}

.flex-grid-2col .col h1 {
  font-size: 3pc;
  color: white;
}

#home {
  align-content: center;
  justify-content: center;
}

#logo {
  text-align: center;
  align-content: center;
  justify-content: center;
}

#navsearch {
  text-align: right;
  align-content: right;
  justify-content: right;
}

#landingpage {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

#col1 {
  text-align: left;
  align-content: left;
  justify-content: left;
}

#col2 {
  text-align: left;
  align-content: left;
  justify-content: left;
}

nav {
  padding: auto;
  margin: auto;
  background-color: coral;
}

ul{   
  border-radius: 10px;
  padding: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

li a {
  color: black;
  font-size: 24px;
}

main {
      padding: 10px;
  }



h1 {
  font-size: 5pc;
  color: white;
}

h2 {
  font-size: 1.5pc;
  color: white;
}

h1, h2, h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#grid-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:7;
  grid-row-end: 8;
  display: flex;
  background-color: darkgray;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.shadow-box {
  width: auto;
  height: auto;
  padding: 15px;
  box-shadow: 8px 8px;
}

.form-box {
  width: auto;
  height: auto;
  padding: 15px;
  background-color: coral;
  box-shadow: 10px 10px;
}

#grid-form {
  padding: auto;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-top: 10px;
  border-left: 10px;
}

#submitButton {
  margin: 10px 0;
  padding: auto;
  width: 20%;
  float: right;
}

form input::shadow {
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

#sendButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
