@font-face {
  font-family: 'TTTravelsNext';
  src: url('/fonts/TTTravelsNext.ttf');
  font-family: 'TTTravelsNextBlackItalic';
  src: url('/fonts/TTTravelsNextBlackItalic.ttf');
}
@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist.ttf');
}

/* For index.html */


/* Overall body style */

body {
  background-image: url(../images/bgimg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0%;
  margin: 0%;
}

body.ueberuns {
  background-image: url(../images/background.png); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0%;
  margin: 0%;
}


h1 {
  font-size: 7pc;
  color: white;
  margin: 0%;
  padding: 0%;
}

h2, p, a {
  font-family: 'Urbanist';

}

h2 {
  font-size: 2pc;
}

/* Header style */

header {
  position: fixed;
  width: 100svw;
}

.flex-grid-header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-bottom: 0%;
  margin-bottom: 0%;
  height: 80px;
  align-items: center;
  backdrop-filter: blur(15px);
}

.flex-grid-header .col {
  width: 50%;
}


#home {
  text-align: left;
}

#logo {
  padding-top: 2px;
  text-align: center;
}

#burgernav {
  text-align: right;
  justify-content: right;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
}


/* Nav style */


nav {
  background-color: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(15px);
  padding: 0%;
  margin: 0%;
}

ul{   
  border-radius: 10px;
  padding: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

li a {
  color: black;
  font-size: 24px;
}

/* Main style */

main {
  padding: 0%;
  margin: 0%;
}

/* Flex grid layout & styles for body */

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}


.flex-grid-2col {
  display: flex;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  justify-content: space-between;
}

.flex-grid-2col .col {
  width: 50%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.flex-grid-2col .col img {
  max-width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}


/* landingpage  section */

#landingpage {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  padding-top: 8%;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

#landingpage h1 {
  text-transform: uppercase;
  font-family: 'TTTravelsNextBlackItalic';
  margin: 0%;
  padding: 0%;
}

/* Claim  section */

#claim {
  font-family: 'Urbanist';
  padding-left: 2%;
  padding-top: 6%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: whitesmoke;
}

#claim h1 {
  color: black;
  font-size: 7pc;
  font-weight: 500;
}

#claim h2 {
  margin: 0%;
  padding-top: 5%;
  font-size: 2pc;
  padding-bottom: 6%;
  font-weight: 400;
}

#claimtext {
  padding-top:1%;
}

/* Events section */

#Events {
  font-family: 'Urbanist';
  padding-top: 5%;
}

#Events h1 {
  display: none;
}

#Events h2 {
  margin: 0%;
  color: white;
  font-size:3pc;
  padding: 2%;
}

#Events p {
  padding-left: 2%;
  font-size: 1.5pc;
  color: white;
}

.flex-grid-2col #col1 {
  background: url(../images/konzedited.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-grid-2col #col2 {
  background: url(../images/aseatatthetableedited.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-grid-2col #col3 {
  background: url(../images/patinavol2edited.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-grid-2col #gradbg {
  background: url(../images/eventbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-grid-2col #gradbg2 {
  background: url(../images/eventbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-grid-2col #gradbgflipped {
  background: url(../images/eventbgflipped.png);
  background-repeat: no-repeat  ;
  background-size: cover;
}

#imgright {
  max-width: 100%;
  text-align: right;
}

/* Footer style */

footer{
  padding: 50px;
  min-height: 300px;
  background-color: #4F4FFF;
}
footer a{
  display: block;
}
footer a, footer p{
  margin: 1rem 0;
  color: black;
}
.big-link{
  font-size: 2rem;
  font-weight: 500;
}
.some{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.some img{
  width: 50px;
}
.contact{
  display: flex;
  justify-content: space-around;
}

#footerref{
  max-width: 100%;
}

/* Hover Effect */

a:hover{
  border-bottom: 2px solid black;
}

/* For Validator */

.validator {
  padding: 0%;
  text-align: center;
}

.validator h1 {
  display: none;
}