
@font-face {
    font-family: 'TTTravelsNext';
    src: url('/fonts/TTTravelsNext.ttf');
    font-family: 'TTTravelsNextBlackItalic';
    src: url('/fonts/TTTravelsNextBlackItalic.ttf');
}
@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist.ttf');
}

*{
    --mainDark: #1b1b1b;
    --mainBright: #f5e2ff;
    --mainBlue: #4F4FFF;
    --black: #000;
    --white: #fff;
    box-sizing: border-box;

}


/* Header style */

header {
    position: fixed;
    width: 100svw;
  }
  
  .flex-grid-header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 80px;
    align-items: center;
    backdrop-filter: blur(15px);
  }
  
  .flex-grid-header .col {
    width: 50%;
  }
  
  
  #home {
    text-align: left;
  }
  
  #logo {
    padding-top: 2px;
    text-align: center;
  }
  
  #burgernav {
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0;
  }
  
  
  /* Nav style */
  
  
  nav {
    background-color: rgba(245, 245, 245, 0.3);
    backdrop-filter: blur(15px);
    padding: 0%;
    margin: 0%;
  }
  
  ul{   
    border-radius: 10px;
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
  }
  
  li a {
    color: black;
    font-size: 24px;
  }

  


h1{
    font-family: 'TTTravelsNext', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainDark)
}
h2, h3, h4, p, a, label{
    font-family: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2
{   color: var(--mainDark);
    line-height: 6pc;
    font-size: 7pc;
    font-weight: 400;
    font-family: 'urbanist';
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;

}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.hero{
    min-height: 100vh;
    min-height: 100svh;
    padding: 120px 50px;

}
.hero h1{
    text-transform: uppercase;
    line-height: 6pc;
    font-family: 'TTTravelsNextBlackItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
}
.hero h1 span{
    margin-left: 50px;
}

.videosection p {
    color: var(--white);
    font-size: 30px;
    font-weight: 200;
}


h3 {
    line-height: 6pc;
    font-size: 7pc;
    font-weight: 400;
    font-family: 'urbanist';
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--mainDark);
}



.team{
    background-color: var(--white);
    padding-bottom: 5%;
}

.introduction{

    background-color: var(--white);
    padding: 20px 0px;
    color: var(--mainDark);
}

.introduction h2{
    font-weight: 500;
    margin-right: 0%;
    margin-left: 0%;
    padding-bottom: 0%;
    padding-top: 5%;
}




.content p{
    text-align: left;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}



.introduction p{
    font-weight: 300;
    color: var(--mainDark);
}

.videosection{
    background: rgb(249,210,255);
    background: linear-gradient(214deg, rgba(249,210,255,1) 13%, rgba(37,28,246,1) 97%);
    padding: 150px 100px;
}



.team-accordion{
    padding: 100px 0;
}
.teamcard{
    position: relative;
    border-bottom: 2px solid var(--mainDark)
}
.teamcard input{
    position: absolute;
    display: none;
}
.team-details {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: grid-template-rows 0.4s ease, margin 0.4s ease, opacity 1s ease-out;
    margin: 0 100px 20px 0;
}

.teamcard input:checked ~ .team-details {
    grid-template-rows: 1fr;
    opacity: 1;
    margin-top: -40px;
}
.tab_label{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
}
.tab_label::after{
    position: absolute;
    right: 50px;
    content: '\276F'; /*unicode zeichen â¯ */
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}
.teamcard input:checked + .tab_label::after{
    transform: rotate(270deg);
}
.tab_label span, .tab_label a{
    width: fit-content;
}
.tab_label .name{
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.25rem;
}
.team-content{
    display: flex;
    gap: 6rem;
    flex-direction: row-reverse;
    overflow: hidden;
    align-items: center;
    opacity: 1;
}
.team-content img{
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 16px;
    filter: saturate(0) contrast(1.2);

}
.team-content p{
    margin: 0;
    padding: 1rem;
}

footer{
    padding: 50px;
    min-height: 300px;
    background-color: var(--mainBlue);
}
footer a{
    display: block;
}
footer a, footer p{
    margin: 1rem 0;
}
.big-link{
    font-size: 2rem;
    font-weight: 500;
}
.some{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.some img{
    width: 50px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 600px) {


    .hero h1{
        font-size: 7pc;
        line-height: 6pc;
    }    


    .teamcard input:checked ~ .team-details {
        margin-top: 0px;
    }
        .team-content{
        gap: 1rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .team-content img{
        margin: 1rem;
    }
    .contact{
        flex-direction: column;
    }
    .full-menu{
        opacity: 0;
        position: fixed;
        top: 0;
        left: 100vw;
        left: 100svw;
        width: 100vw;
        width: 100svw;
        height: 100vh;
        height: 100svh;
        background: rgba(0,0,0,0.5);
        z-index: 2;
        display: flex;
        padding: 5rem;
        flex-direction: column;
        color: white;
        font-size: 2rem;
        font-weight: 500;
        justify-content: center;
        gap: 1rem;
        align-items: end;
        transition: all 0.5s ease;
    
        .flex-grid-header {
            display: flex;
            justify-content: space-between;
            padding: 0 0px;
            padding-bottom: 0%;
            margin-bottom: 0%;
            height: 80px;
            align-items: center;
            backdrop-filter: blur(15px);
          }
          
        
          .flex-grid-header .col {
            max-width: 100%;
            width: 100%;
          }
        
            #burgernav { 
                width: 0%; 
                display: none;
              }
        
              #logo {
                text-align: center;
              }
        
              #home { 
                display: none; 
              }
        
              nav li a {
                font-size: 1pc;
              }
    }
}